/* Header related style */
.header-part {
    /* height: 0 auto; */
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.018), black), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 1300px;
    height: 600px;
    border-radius: 15px;
}

.banner {
    text-align: center;
}

.banner-heading {
    color: #dfdbdb;
    padding-top: 180px;
    font-size: 40px;
}

.banner-title {
    color: white;
    width: 500px;
    font-size: 65px;
    padding-left: 400px;
    margin-top: -20px;
}

/* Section (Discount) related style */
.discount {
    /* height: 0 auto; */
    margin: 0 auto;
    width: 700px;
    height: 700px;
    text-align: center;
    padding: 25px;
}

.discount-image {
    width: 570px;
    height: 350px;
}

.discount-title {
    color: #FF0000;
    font-size: 60px;
}

.discount-description {
    color: #FF0000;
    font-size: 20px;
    margin-top: -20px;
}

.categories {
    color: black;
    font-size: 40px;
    margin-top: -15px;
}

/* Section (party) related style */
.party {
    /* height: 0 auto; */
    margin: 0 auto;
    width: 1300px;
    height: 500px;
    background-image: linear-gradient(0deg, rgba(6, 6, 6, 0.814), rgba(0, 0, 0, 0.351)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.party-banner {
    letter-spacing: 2px;
    margin-left: 120px;
}

.party-title {
    color: white;
    font-size: 55px;
    width: 400px;
}

.party-description {
    font-size: 16px;
    width: 630px;
    margin-top: -25px;
    color: #dfdbdbf4;
    margin-bottom: 20px;
}

.btn {
    border: 0;
    padding: 15px;
    width: 120px;
    font-size: 17px;
    background: 0;
    color: white;
}

.party-image {
    margin-right: 130px;
    width: 250px;
    height: 350px;
}

/* Section (place_date_time) related style */
.time-date-place {
    margin: 0 auto;
    height: 0 auto;
    width: 1300px;
    height: 250px;
    background: linear-gradient(#ff000020, #fcfbfb00);
    border-radius: 15px;
    margin-top: 100px;
    text-align: center;
    padding-top: 100px;
}

.date,
.time {
    margin-top: -10px;
}

.btnn {
    border: 0;
    background: #FF0000;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    width: 135px;
    margin-top: 20px;
}

/* Section (offer) related style */
.offer {
    /* height: 0 auto; */
    margin: 0 auto;
    width: 1280px;
    display: flex;
    margin-top: 150px;
    align-items: center;
}

.offer-heading {
    color: #FF0000;
    font-size: 20px;
}

.offer-title {
    font-size: 40px;
    margin-top: -10px;
}

.offer-description {
    letter-spacing: 1px;
    margin-top: -12px;
    width: 370px;
}

.image-border {
    width: 300px;
    border: 10px solid red;
    border-radius: 200px;
    padding: 25px;
}

.offer-year {
    font-size: 40px;
    letter-spacing: 2px;
    color: #FF0000;
}

.offer-year-description {
    letter-spacing: 1px;
    margin-top: -20px;
    width: 250px;
}

.offer-column1 {
    margin-left: 20px;
    width: 35%;
}

.offer-column2 {
    width: 35%;
}

.offer-column3 {
    width: 15%;
    margin-left: 50px;
    text-align: right;
}

.offer-column3-image {
    width: 100px;
    height: 100px;
}

/* Section (sale) related style */
.sale {
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    margin-top: 100px;
}

.sale-heading {
    font-size: 20px;
}

.sale-title {
    font-size: 60px;
    margin-top: -10px;
}

.sale-description {
    width: 850px;
    font-size: 17px;
    margin-top: -30px;
    padding-left: 230px;
}

/* Section (discount) related style */
.discounts {
    margin: 0 auto;
    height: 0 auto;
    display: flex;
    width: 1300px;
}

.boxx {
    height: 300px;
    width: 400px;
    position: relative;
    left: 300px;
    bottom: -180px;
}

.circle {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 100px;
    margin-left: 450px;
}

.bag {
    width: 350px;
    height: 350px;
    margin-left: 550px;
    border-radius: top 15px;
    margin-bottom: -4px;
}

.discounts4 {
    margin: 0 auto;
    width: 1300px;
}

.red-line {
    width: 1300px;
    height: 200px;
    border-radius: top 15px;
}

/* Section (gift) related style */
.gift {
    margin: 0 auto;
    width: 1300px;
    margin-top: 100px;
}

.gift-heading {
    font-size: 20px;
    color: #FF0000;
}

.gift-title {
    font-size: 40px;
    margin-top: -8px;
}

.gift-description {
    font-size: 17px;
    color: #000000a9;
    margin-top: -10px;
    width: 900px;
}

/* .gift-img{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
} */


.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 400px;
    height: 380px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Section (subscribe) related style */
.subscribe {
    margin: 0 auto;
    width: 1300px;
    height: 470px;
    background-color: #ff000011;
    border-radius: 10px;
    margin-top: 80px;
    text-align: center;
}

.subscribe-img {
    height: 100px;
    width: 100px;
    margin-top: 60px;
    margin-left: 100px;
}

.subscribe-title {
    font-size: 40px;
}

.subscribe-description {
    width: 900px;
    margin-top: -20px;
    margin-left: 200px;
}

button {
    margin-top: 30px;
}

.email {
    border: 0px;
    background: white;
    color: rgba(0, 0, 0, 0.285);
    text-align: left;
    padding: 18px;
    width: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.subscribes {
    border: 0px;
    background: #FF0000;
    color: white;
    padding: 18px;
    width: 120px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Footer related style */
.footer-area {
    margin-top: 80px;
    background: black;
    color: azure;
}

.address {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
}

.address-area {
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.address-description {
    margin-bottom: -15px;
}

.phone-area,
.email-area {
    display: flex;
    margin-right: 100px;
}

.phone-area {
    margin-top: 60px;
}

.phone-img,
.email-img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.phone-img {
    margin-top: 18px;
}

.phone,
.emaill {
    font-size: 18px;
}

.email-area {
    margin-top: -30px;
}

.email-img {
    margin-top: 20px;
}

.icon {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 800px;
}

.icon-image1,
.icon-image2,
.icon-image3,
.icon-image4 {
    width: 50px;
    height: 50px;
}

.icon-image1,
.icon-image2,
.icon-image3 {
    margin-right: 40px;
}

hr {
    width: 1320px;
    color: #45434300
}

.reserved {
    margin: 0 auto;
    display: flex;
    width: 1300px;
    height: 100px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}
.unsubscribe-area{
    margin-right: 120px;
}










/* Responsive */
@media screen and (max-width: 320px) {

    /* Header related style */
    .header-part {
        margin-top: -12px;
        margin-left: -5px;
        margin-right: -5px;
        width: auto;
        height: 145px;
        background-size: cover;
    }

    .banner-heading {
        padding-top: 60px;
        font-size: 15px;
    }

    .banner-title {
        width: auto;
        font-size: 15px;
        padding-left: 0;
        margin-top: -10px;
    }

    /* Section (Discount) related style */
    .discount {
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .discount-image {
        width: 200px;
        height: 150px;
        margin-right: 0;
    }

    .discount-title {
        font-size: 20px;
    }

    .discount-description {
        font-size: 15px;
        margin-top: -10px;
    }

    .categories {
        font-size: 20px;
        margin-top: -15px;
    }

    /* Section (party) related style */
    .party {
        margin-top: 20px;
        width: auto;
        height: 140px;
        background-size: contain;
    }

    .party-banner {
        letter-spacing: 0;
        margin-left: 20px;
    }

    .party-title {
        font-size: 15px;
        width: auto;

    }

    .party-description {
        font-size: 10px;
        width: 80%;
        margin-top: -10px;
    }

    .btn {
        border: 0;
        padding: 0;
        width: auto;
        font-size: 10px;
        margin-top: 0;
    }

    .party-image {
        margin-right: 15px;
        width: 50px;
        height: 75px;
    }

    /* Section (place_date_time) related style */
    .time-date-place {
        width: auto;
        height: 120px;
        margin-top: 20px;
        padding-top: 50px;
    }

    .place,
    .date,
    .time {
        font-size: 15px;
        margin-top: -10px;
    }

    .btnn {
        font-size: 10px;
        padding: 5px 10px;
        width: auto;
        margin-top: 10px;
    }

    /* Section (offer) related style */
    .offer {
        width: auto;
        flex-direction: column;
        margin-top: 10px;
    }

    .offer-heading {
        font-size: 15px;
    }

    .offer-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .offer-description {
        margin-top: -12px;
        width: auto;
    }

    .image-border {
        width: 150px;
        border: 7px solid red;
        border-radius: 200px;
        padding: 10px;
    }

    .offer-year {
        font-size: 25px;
        text-align: center;
    }

    .offer-year-description {
        margin-top: -10px;
        width: auto;
    }

    .offer-column1 {
        margin-left: 0;
        width: auto;
        text-align: center;
    }

    .offer-column2 {
        width: auto;
    }

    .offer-column3 {
        width: auto;
        margin-left: 0;
        text-align: left;
    }

    .offer-column3-image {
        width: 80px;
        height: 80px;
        margin-left: 105px;
    }

    /* Section (sale) related style */
    .sale {
        width: auto;
        margin-top: 50px;
    }

    .sale-heading {
        font-size: 15px;
    }

    .sale-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .sale-description {
        width: auto;
        font-size: 13px;
        margin-top: -10px;
        padding-left: 0;
    }

    /* Section (discount) related style */
    .discounts {
        width: auto;
    }

    .boxx {
        height: 75px;
        width: 100px;
        left: 30px;
        bottom: -75px;
    }

    .circle {
        width: 70px;
        height: 70px;
        margin-top: 40px;
        margin-left: 55px;
    }

    .bag {
        width: 120px;
        height: 120px;
        margin-left: 84px;
        margin-bottom: -4px;
    }

    .discounts4 {
        width: auto;
    }

    .red-line {
        width: 100%;
        height: 40px;
    }

    /* Section (gift) related style */
    .gift {
        width: auto;
        margin-top: 30px;
        text-align: center;
    }

    .gift-heading {
        font-size: 15px;
    }

    .gift-title {
        font-size: 20px;
        margin-top: -15px;
    }

    .gift-description {
        font-size: 13px;
        width: auto;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 120px;
        height: 120px;
        margin-left: 15px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 310px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 20px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 10px 0px 10px;
        font-size: 13px;
    }

    button {
        margin-top: 20px;
    }

    .email,
    .subscribes {
        font-size: 10px;
        padding: 10px;
        width: 100px;
    }

    .subscribes {
        width: 70px;
    }

    /* Footer related style */
    .footer-area {
        margin-top: 20px;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address-area {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: -50px;
    }

    .address-details {
        margin-left: 80px;
    }

    .address-description {
        margin-bottom: -10px;
    }

    .phone-area,
    .email-area {
        margin-right: 0;
    }

    .phone-img,
    .email-img {
        margin-right: 10px;
        width: 12px;
        height: 12px;
    }

    .phone-img {
        margin-top: 14px;
    }

    .phone,
    .emaill {
        font-size: 15px;
    }

    .email-img {
        margin-top: 18px;
    }

    .icon {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3,
    .icon-image4 {
        width: 25px;
        height: 25px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3 {
        margin-right: 20px;
    }

    hr {
        width: 80%;
    }

    .reserved {
        flex-direction: column;
        width: auto;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 13px;
        text-align: center;
    }

    .unsubscribe-area {
        margin-top: -40px;
        margin-right: 0;
    }

}



@media screen and (min-width: 350px) and (max-width: 380px) {

    /* Header related style */
    .header-part {
        margin-top: -10px;
        width: auto;
        height: 160px;
        background-size: cover;
    }

    .banner-heading {
        padding-top: 70px;
        font-size: 15px;
    }

    .banner-title {
        width: auto;
        font-size: 15px;
        padding-left: 0;
        margin-top: -10px;
    }

    /* Section (Discount) related style */
    .discount {
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .discount-image {
        width: 200px;
        height: 150px;
        margin-right: 0;
    }

    .discount-title {
        font-size: 20px;
    }

    .discount-description {
        font-size: 15px;
        margin-top: -10px;
    }

    .categories {
        font-size: 20px;
        margin-top: -15px;
    }

    /* Section (party) related style */
    .party {
        margin-top: 20px;
        width: auto;
        height: 165px;
        background-size: contain;
    }

    .party-banner {
        letter-spacing: 0;
        margin-left: 20px;
    }

    .party-title {
        font-size: 15px;
        width: auto;

    }

    .party-description {
        font-size: 10px;
        width: 80%;
        margin-top: -10px;
    }

    .btn {
        border: 0;
        padding: 0;
        width: auto;
        font-size: 10px;
        margin-top: 0;
    }

    .party-image {
        margin-right: 15px;
        width: 50px;
        height: 75px;
    }

    /* Section (place_date_time) related style */
    .time-date-place {
        width: auto;
        height: 120px;
        margin-top: 20px;
        padding-top: 50px;
    }

    .place,
    .date,
    .time {
        font-size: 15px;
        margin-top: -10px;
    }

    .btnn {
        font-size: 10px;
        padding: 5px 10px;
        width: auto;
        margin-top: 10px;
    }

    /* Section (offer) related style */
    .offer {
        width: auto;
        flex-direction: column;
        margin-top: 10px;
    }

    .offer-heading {
        font-size: 15px;
    }

    .offer-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .offer-description {
        margin-top: -12px;
        width: auto;
    }

    .image-border {
        width: 150px;
        border: 7px solid red;
        border-radius: 200px;
        padding: 10px;
    }

    .offer-year {
        font-size: 25px;
        text-align: center;
    }

    .offer-year-description {
        margin-top: -10px;
        width: auto;
    }

    .offer-column1 {
        margin-left: 0;
        width: auto;
        text-align: center;
    }

    .offer-column2 {
        width: auto;
    }

    .offer-column3 {
        width: auto;
        margin-left: 0;
        text-align: left;
    }

    .offer-column3-image {
        width: 80px;
        height: 80px;
        margin-left: 135px;
    }

    /* Section (sale) related style */
    .sale {
        width: auto;
        margin-top: 50px;
    }

    .sale-heading {
        font-size: 15px;
    }

    .sale-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .sale-description {
        width: auto;
        font-size: 13px;
        margin-top: -10px;
        padding-left: 0;
    }

    /* Section (discount) related style */
    .discounts {
        width: auto;
    }

    .boxx {
        height: 80px;
        width: 105px;
        left: 50px;
        bottom: -75px;
    }

    .circle {
        width: 75px;
        height: 75px;
        margin-top: 40px;
        margin-left: 88px;
    }

    .bag {
        width: 130px;
        height: 130px;
        margin-left: 124px;
        margin-bottom: -4px;
    }

    .discounts4 {
        width: auto;
    }

    .red-line {
        width: 100%;
        height: 40px;
    }

    /* Section (gift) related style */
    .gift {
        width: auto;
        margin-top: 30px;
        text-align: center;
    }

    .gift-heading {
        font-size: 15px;
    }

    .gift-title {
        font-size: 20px;
        margin-top: -15px;
    }

    .gift-description {
        font-size: 13px;
        width: auto;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 150px;
        height: 140px;
        margin-left: 15px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 310px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 20px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 10px 0px 10px;
        font-size: 13px;
    }

    button {
        margin-top: 20px;
    }

    .email,
    .subscribes {
        font-size: 10px;
        padding: 10px;
        width: 100px;
    }

    .subscribes {
        width: 70px;
    }

    /* Footer related style */
    .footer-area {
        margin-top: 20px;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address-area {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: -50px;
    }

    .address-details {
        margin-left: 110px;
    }

    .address-description {
        margin-bottom: -10px;
    }

    .phone-area,
    .email-area {
        margin-right: 0;
    }

    .phone-img,
    .email-img {
        margin-right: 10px;
        width: 12px;
        height: 12px;
    }

    .phone-img {
        margin-top: 14px;
    }

    .phone,
    .emaill {
        font-size: 15px;
    }

    .email-img {
        margin-top: 18px;
    }

    .icon {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3,
    .icon-image4 {
        width: 25px;
        height: 25px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3 {
        margin-right: 20px;
    }

    hr {
        width: 80%;
    }

    .reserved {
        flex-direction: column;
        width: auto;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 13px;
        text-align: center;
    }

    .unsubscribe-area {
        margin-top: -40px;
        margin-right: 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 576px) {

    /* Header related style */
    .header-part {
        margin-top: -10px;
        width: auto;
        height: 186px;
        background-size: cover;
    }

    .banner-heading {
        padding-top: 80px;
        font-size: 20px;
    }

    .banner-title {
        width: auto;
        font-size: 20px;
        padding-left: 0;
        margin-top: -15px;
    }

    /* Section (Discount) related style */
    .discount {
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .discount-image {
        width: 250px;
        height: 180px;
        margin-right: 0;
    }

    .discount-title {
        font-size: 25px;
    }

    .discount-description {
        font-size: 18px;
        margin-top: -15px;
    }

    .categories {
        font-size: 25px;
        margin-top: -15px;
    }

    /* Section (party) related style */
    .party {
        margin-top: 20px;
        width: auto;
        height: 187px;
        background-size: contain;
    }

    .party-banner {
        letter-spacing: 0;
        margin-left: 35px;
    }

    .party-title {
        font-size: 20px;
        width: auto;

    }

    .party-description {
        font-size: 13px;
        width: 80%;
        margin-top: -10px;
    }

    .btn {
        border: 0;
        padding: 0;
        width: auto;
        font-size: 10px;
        margin-top: 0;
    }

    .party-image {
        margin-right: 30px;
        width: 70px;
        height: 95px;
    }

    /* Section (place_date_time) related style */
    .time-date-place {
        width: auto;
        height: 120px;
        margin-top: 20px;
        padding-top: 50px;
    }

    .place,
    .date,
    .time {
        font-size: 16px;
        margin-top: -10px;
    }

    .btnn {
        font-size: 10px;
        padding: 5px 10px;
        width: auto;
        margin-top: 10px;
    }

    /* Section (offer) related style */
    .offer {
        width: auto;
        flex-direction: column;
        margin-top: 10px;
    }

    .offer-heading {
        font-size: 15px;
    }

    .offer-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .offer-description {
        margin-top: -12px;
        width: auto;
    }

    .image-border {
        width: 150px;
        border: 7px solid red;
        border-radius: 200px;
        padding: 10px;
    }

    .offer-year {
        font-size: 25px;
        text-align: center;
    }

    .offer-year-description {
        margin-top: -10px;
        width: auto;
    }

    .offer-column1 {
        margin-left: 0;
        width: auto;
        text-align: center;
    }

    .offer-column2 {
        width: auto;
    }

    .offer-column3 {
        width: auto;
        margin-left: 0;
        text-align: left;
    }

    .offer-column3-image {
        width: 80px;
        height: 80px;
        margin-left: 155px;
    }

    /* Section (sale) related style */
    .sale {
        width: auto;
        margin-top: 50px;
    }

    .sale-heading {
        font-size: 15px;
    }

    .sale-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .sale-description {
        width: auto;
        font-size: 14px;
        margin-top: -10px;
        padding: 0px 20px;
    }

    /* Section (discount) related style */
    .discounts {
        width: auto;
    }

    .boxx {
        height: 90px;
        width: 115px;
        left: 50px;
        bottom: -75px;
    }

    .circle {
        width: 80px;
        height: 80px;
        margin-top: 42px;
        margin-left: 115px;
    }

    .bag {
        width: 140px;
        height: 140px;
        margin-left: 153px;
        margin-bottom: -4px;
    }

    .discounts4 {
        width: auto;
    }

    .red-line {
        width: 100%;
        height: 45px;
    }

    /* Section (gift) related style */
    .gift {
        width: auto;
        margin-top: 30px;
        text-align: center;
    }

    .gift-heading {
        font-size: 18px;
    }

    .gift-title {
        font-size: 25px;
        margin-top: -15px;
    }

    .gift-description {
        font-size: 15px;
        width: auto;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 170px;
        height: 160px;
        margin-left: 15px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 310px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 20px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 10px 0px 10px;
        font-size: 13px;
    }

    button {
        margin-top: 20px;
    }

    .email,
    .subscribes {
        font-size: 12px;
        padding: 10px;
        width: 120px;
    }

    .subscribes {
        width: 80px;
    }

    /* Footer related style */
    .footer-area {
        margin-top: 20px;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address-area {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: -50px;
    }

    .address-details {
        margin-left: 130px;
    }

    .address-description {
        margin-bottom: -10px;
    }

    .phone-area,
    .email-area {
        margin-right: 0;
    }

    .phone-img,
    .email-img {
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }

    .phone-img {
        margin-top: 14px;
    }

    .phone,
    .emaill {
        font-size: 15px;
    }

    .email-img {
        margin-top: 18px;
    }

    .icon {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 120px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3,
    .icon-image4 {
        width: 25px;
        height: 25px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3 {
        margin-right: 20px;
    }

    hr {
        width: 80%;
    }

    .reserved {
        flex-direction: column;
        width: auto;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }

    .unsubscribe-area {
        margin-top: -40px;
        margin-right: 0;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .header-part {
        margin-top: -20px;
        width: auto;
        height: 350px;
        background-size: cover;
    }

    .banner-heading {
        padding-top: 145px;
        font-size: 30px;
    }

    .banner-title {
        width: auto;
        font-size: 35px;
        padding-left: 0;
    }

    /* Section (Discount) related style */
    .discount {
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .discount-image {
        width: 350px;
        height: 220px;
        margin-right: 0;
    }

    .discount-title {
        font-size: 35px;
    }

    .discount-description {
        font-size: 25px;
        margin-top: -15px;
    }

    .categories {
        font-size: 35px;
        margin-top: -15px;
    }

    /* Section (party) related style */
    .party {
        margin-top: 20px;
        width: auto;
        height: 342px;
        background-size: contain;
    }

    .party-banner {
        letter-spacing: 1;
        margin-left: 35px;
    }

    .party-title {
        font-size: 35px;
        width: auto;

    }

    .party-description {
        font-size: 18px;
        width: 80%;
        margin-top: -10px;
    }

    .btn {
        border: 0;
        padding: 0;
        width: auto;
        font-size: 15px;
        margin-top: 0;
    }

    .party-image {
        margin-right: 50px;
        width: 120px;
        height: 170px;
    }

    /* Section (place_date_time) related style */
    .time-date-place {
        width: auto;
        height: 220px;
        margin-top: 30px;
        padding-top: 80px;
    }

    .place,
    .date,
    .time {
        font-size: 25px;
        margin-top: -10px;
    }

    .btnn {
        font-size: 15px;
        padding: 10px 15px;
        width: auto;
        margin-top: 10px;
    }

    /* Section (offer) related style */
    .offer {
        width: auto;
        margin-top: 0;
    }

    .offer-heading {
        font-size: 15px;
    }

    .offer-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .offer-description {
        margin-top: -12px;
        width: auto;
    }

    .image-border {
        width: 150px;
        border: 7px solid red;
        border-radius: 200px;
        padding: 10px;
    }

    .offer-year {
        font-size: 25px;
    }

    .offer-year-description {
        margin-top: -10px;
        width: auto;
    }

    .offer-column1 {
        margin-left: 10px;
        margin-right: 20px;
        width: 40%;
        text-align: left;
    }

    .offer-column2 {
        width: 30%;
    }

    .offer-column3 {
        width: 35%;
        margin-left: 10px;
        margin-right: 20px;
        text-align: right;
    }

    .offer-column3-image {
        width: 80px;
        height: 80px;
        margin-left: 155px;
    }

    /* Section (sale) related style */
    .sale {
        width: auto;
        margin-top: 50px;
    }

    .sale-heading {
        font-size: 15px;
    }

    .sale-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .sale-description {
        width: auto;
        font-size: 16px;
        margin-top: 10px;
        padding: 0px 40px;
    }

    /* Section (discount) related style */
    .discounts {
        width: auto;
    }

    .boxx {
        height: 130px;
        width: 180px;
        left: 120px;
        bottom: -120px;
    }

    .circle {
        width: 110px;
        height: 110px;
        margin-top: 60px;
        margin-left: 320px;
    }

    .bag {
        width: 200px;
        height: 200px;
        margin-left: 372px;
        margin-bottom: -4px;
    }

    .discounts4 {
        width: auto;
    }

    .red-line {
        width: 100%;
        height: 70px;
    }

    /* Section (gift) related style */
    .gift {
        width: auto;
        margin-top: 30px;
    }

    .gift-heading {
        font-size: 25px;
    }

    .gift-title {
        font-size: 30px;
        margin-top: -25px;
    }

    .gift-description {
        width: auto;
        font-size: 18px;
        margin-top: -20px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        margin-right: 18px;
        margin-bottom: 18px;
        height: 230px;
        width: 230px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 330px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 25px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 12px 0px 12px;
        font-size: 17px;
    }

    button {
        margin-top: 20px;
    }

    .email,
    .subscribes {
        font-size: 15px;
        padding: 10px;
        width: 160px;
    }

    .subscribes {
        width: 100px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 310px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 20px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 10px 0px 10px;
        font-size: 13px;
    }

    button {
        margin-top: 20px;
    }

    .emaill,
    .subscribes {
        font-size: 12px;
        padding: 10px;
        width: 120px;
    }

    .subscribes {
        width: 80px;
    }

    /* Footer related style */
    .footer-area {
        margin-top: 20px;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address-area {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: -50px;
    }

    .address-details {
        margin-left: 300px;
    }

    .address-description {
        margin-bottom: -10px;
    }

    .phone-area,
    .email-area {
        margin-right: 0;
    }

    .phone-img,
    .email-img {
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }

    .phone-img {
        margin-top: 14px;
    }

    .phone,
    .emaill {
        font-size: 15px;
    }

    .email-img {
        margin-top: 25px;
        margin-right: 0;
    }

    .icon {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 280px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3,
    .icon-image4 {
        width: 35px;
        height: 35px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3 {
        margin-right: 20px;
    }

    hr {
        width: 80%;
    }

    .reserved {
        flex-direction: column;
        width: auto;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }

    .unsubscribe-area {
        margin-top: -40px;
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {

    /* Header related style */
    .header-part {
        margin-top: -20px;
        width: auto;
        height: 450px;
        background-size: cover;
    }

    .banner-heading {
        padding-top: 185px;
        font-size: 40px;
    }

    .banner-title {
        width: auto;
        font-size: 40px;
        padding-left: 0;
        margin-top: -30px;
    }

    /* Section (Discount) related style */
    .discount {
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .discount-image {
        width: 450px;
        height: 300px;
        margin-right: 0;
    }

    .discount-title {
        font-size: 40px;
    }

    .discount-description {
        font-size: 35px;
        margin-top: -30px;
    }

    .categories {
        font-size: 40px;
        margin-top: -30px;
    }

    /* Section (party) related style */
    .party {
        margin-top: 20px;
        width: auto;
        height: 460px;
        background-size: contain;
    }

    .party-banner {
        letter-spacing: 1;
        margin-left: 55px;
    }

    .party-title {
        font-size: 45px;
        width: auto;

    }

    .party-description {
        font-size: 20px;
        width: 80%;
        margin-top: -20px;
    }

    .btn {
        border: 0;
        padding: 0;
        width: auto;
        font-size: 18px;
        margin-top: 0;
    }

    .party-image {
        margin-right: 50px;
        width: 170px;
        height: 220px;
    }

    /* Section (place_date_time) related style */
    .time-date-place {
        width: auto;
        height: 260px;
        margin-top: 30px;
        padding-top: 100px;
    }

    .place,
    .date,
    .time {
        font-size: 30px;
        margin-top: -10px;
    }

    .btnn {
        font-size: 15px;
        padding: 10px 18px;
        width: auto;
        margin-top: 10px;
    }

    /* Section (offer) related style */
    .offer {
        width: auto;
        margin-top: 0;
    }

    .offer-heading {
        font-size: 15px;
    }

    .offer-title {
        font-size: 25px;
        margin-top: -10px;
    }

    .offer-description {
        margin-top: -12px;
        width: auto;
    }

    .image-border {
        width: 150px;
        border: 7px solid red;
        border-radius: 200px;
        padding: 10px;
    }

    .offer-year {
        font-size: 25px;
    }

    .offer-year-description {
        margin-top: -10px;
        width: auto;
    }

    .offer-column1 {
        margin-left: 10px;
        margin-right: 55px;
        width: 45%;
        text-align: left;
    }

    .offer-column2 {
        width: 30%;
    }

    .offer-column3 {
        width: 35%;
        margin-left: 10px;
        margin-right: 20px;
        text-align: right;
    }

    .offer-column3-image {
        width: 80px;
        height: 80px;
        margin-left: 155px;
    }

    /* Section (sale) related style */
    .sale {
        width: auto;
        margin-top: 50px;
    }

    .sale-heading {
        font-size: 25px;
    }

    .sale-title {
        font-size: 40px;
        margin-top: -20px;
    }

    .sale-description {
        width: auto;
        font-size: 18px;
        margin-top: 10px;
        padding: 0px 50px;
    }

    /* Section (discount) related style */
    .discounts {
        width: auto;
    }

    .boxx {
        height: 160px;
        width: 210px;
        left: 220px;
        bottom: -150px;
    }

    .circle {
        width: 150px;
        height: 150px;
        margin-top: 80px;
        margin-left: 470px;
    }

    .bag {
        width: 250px;
        height: 250px;
        margin-left: 548px;
        margin-bottom: -4px;
    }

    .discounts4 {
        width: auto;
    }

    .red-line {
        width: 100%;
        height: 100px;
    }

    /* Section (gift) related style */
    .gift {
        width: auto;
        margin-top: 30px;
    }

    .gift-heading {
        font-size: 25px;
    }

    .gift-title {
        font-size: 30px;
        margin-top: -25px;
    }

    .gift-description {
        width: auto;
        font-size: 18px;
        margin-top: -20px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        margin-right: 18px;
        margin-bottom: 18px;
        height: 315px;
        width: 315px;
    }

    /* Section (subscribe) related style */
    .subscribe {
        width: auto;
        height: 350px;
        margin-top: 20px;
    }

    .subscribe-img {
        height: 60px;
        width: 60px;
        margin-top: 50px;
        margin-left: 0;
    }

    .subscribe-title {
        font-size: 30px;
        margin-top: 10px;
    }

    .subscribe-description {
        width: auto;
        margin: -10px 50px 0px 50px;
        font-size: 18px;
    }

    button {
        margin-top: 30px;
    }

    .email,
    .subscribes {
        font-size: 16px;
        padding: 12px;
        width: 200px;
    }

    .subscribes {
        width: 120px;
    }

    /* Footer related style */
    .footer-area {
        margin-top: 30px;
    }

    .address {
        display: flex;
        width: auto;
    }

    .address-area {
        font-size: 17px;
        text-align: center;
        margin-top: 30px;
        margin-left: 70px;
    }

    .address-description {
        margin-left: 30px;
        margin-bottom: -15px;
    }

    .address-details {
        margin-right:120px;
        margin-top: -25px;
    }

    .phone-area,
    .email-area {
        margin-right: 0;
    }

    .phone-img,
    .email-img {
        margin-right: 12px;
        width: 18px;
        height: 18px;
    }

    .phone-img {
        margin-top: 14px;
    }

    .phone,
    .emaill {
        font-size: 15px;
    }
    .emaill{
        margin-left: 14px;
        margin-top: 25px;
    }
    .email-img {
        margin-top: 25px;
        margin-right: 0;
    }

    .icon {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 400px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3,
    .icon-image4 {
        width: 40px;
        height: 40px;
    }

    .icon-image1,
    .icon-image2,
    .icon-image3 {
        margin-right: 20px;
    }

    hr {
        width: 80%;
    }

    .reserved {
        display: flex;
        width: auto;
        height: 80px;
        margin-top: 10px;
        font-size: 18px;
        margin-left: 100px;
    }

    .unsubscribe-area {
        margin-top: 20px;
        font-size: 18px;
        margin-right: 130px;
    }
}